<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect to HTTPS (Optional, uncomment if needed)
    # RewriteCond %{HTTPS} off
    # RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle requests for the Laravel application
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

# Deny access to sensitive files
<Files .env>
    Order allow,deny
    Deny from all
</Files>

<Files composer.json>
    Order allow,deny
    Deny from all
</Files>

<Files composer.lock>
    Order allow,deny
    Deny from all
</Files>

<Files package.json>
    Order allow,deny
    Deny from all
</Files>

<Files webpack.mix.js>
    Order allow,deny
    Deny from all
</Files>

<Files server.php>
    Order allow,deny
    Deny from all
</Files>

<Files artisan>
    Order allow,deny
    Deny from all
</Files>

# Prevent directory listing
Options -Indexes
